@import '../../../../scss/vars';

.platformModalContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background: $backgr_light;
}
